<?php
namespace Concrete\Package\{{package_camel_handle}};

defined('C5_EXECUTE') or die('Access Denied.');

use Concrete\Core\Package\Package;
use Concrete\Core\Page\Theme\Theme;

class Controller extends Package
{
    protected $pkgHandle = "{{package_handle}}";
    protected $appVersionRequired = "{{package_app_version_required}}";
    protected $pkgVersion = "{{package_version}}";

    public function getPackageDescription()
    {
        return t("{{package_description}}");
    }

    public function getPackageName()
    {
        return t("{{package_name}}");
    }

    public function install()
    {
        $pkg = parent::install();
        Theme::add("{{theme_handle}}", $pkg);
    }
}
